.bg-black {
    background: #000;
    color: #fff;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  .port-item {
    width: 30%;
  }
  .fa {
    font-size: 2em;
  }
  
  .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  @media (min-width: 1199px) {
    .port-item {
      padding: 3em !important;
    }
  }
  
  a {
    color: inherit;
  }
  