<header id="main-header">
  <div class="row no-gutters">
    <div class="col-lg-4 col-md-5">
      <img src="../assets/img/person1.jpg" alt="">
    </div>
    <div class="col-lg-8 col-md-7">
      <div class="d-flex flex-column">
        <div class="p-5 bg-dark text-white">
          <div class="name d-flex flex-row justify-content-between align-items-center">
            <h1 class="display-4">Nevelop</h1>
            <div>
              <li class="fa fa-twitter"></li>
            </div>
            <div>
              <a href="https://web.facebook.com/niponjaiboon" target="_blank">
                <li class="fa fa-facebook"></li>
              </a>
            </div>
            <div>
              <a href="https://gitlab.com/Jaiboon" target="_blank">
                <li class="fa fa-gitlab"></li>
              </a>
            </div>
            <div>
              <li class="fa fa-google"></li>
            </div>
          </div>
        </div>

        <div class="p-4 bg-black">
          Experienced Full Stack Web Developer
        </div>
        <div>
          <div class="d-flex flex-row text-white align-items-stretch text-center">
            <div class="port-item p-4 bg-blue" data-toggle="collapse" data-target="#home" [routerLink]="['/home']" routerLinkActive="router-link-active">
              <i class="fa fa-home d-block"></i> Home
            </div>
            <div class="port-item p-4 bg-red" data-toggle="collapse" data-target="#resume" [routerLink]="['/resume']" routerLinkActive="router-link-active">
              <i class="fa fa-graduation-cap d-block"></i> Resume
            </div>
            <div class="port-item p-4 bg-brown" data-toggle="collapse" data-target="#work" [routerLink]="['/work']" routerLinkActive="router-link-active">
              <i class="fa fa-folder-open d-block"></i> Work
            </div>
            <div class="port-item p-4 bg-sky" data-toggle="collapse" data-target="#contact" [routerLink]="['/contact']" routerLinkActive="router-link-active">
              <i class="fa fa-envelope d-block"></i> Contact
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>