<!-- FOOTER -->
<footer id="main-footer" class="p-5 bg-dark text-white">
  <div class="row">
    <div class="dol-md-6">
      <a href="#" class="btn btn-outline-light">
        <i class="fa fa-cloud "> Download Resume</i>
      </a>
    </div>
  </div>
</footer>