<!-- Resume -->
<div id="resume">
  <div class="card card-body bg-dark text-white py-5">
    <h2>Manage</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adioisicing elit. Perferendis, quia.</p>
  </div>
  <div class="row py-3">
    <div class="col-md-3 p-2">
      <div class="card bg-blue">
        <div class="card-body">
          <h4 class="card-title">My Skills</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
          <a href="#" class="btn  btn-secondary btn-block">Manage</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-2">
      <div class="card bg-red">
        <div class="card-body">
          <h4 class="card-title">My Resume</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
          <a href="#" class="btn  btn-secondary btn-block">Manage</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-2">
      <div class="card bg-brown">
        <div class="card-body">
          <h4 class="card-title">My Portfolio</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
          <a href="#" class="btn  btn-secondary btn-block">Manage</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-2">
      <div class="card bg-sky">
        <div class="card-body">
          <h4 class="card-title">Contact</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
          <a href="#" class="btn  btn-secondary btn-block">Manage</a>
        </div>
      </div>
    </div>
  </div>
</div>