<app-header></app-header>
<!-- CONTACT -->
<div id="contact">
  <div class="card card-body bg-sky text-white py-5">
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, dignissimos?</p>
  </div>

  <div class="card card-body py-5">
    <h3>Get in touch</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, autem.</p>
    <form>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon bg-sky text-white p-3">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" class="form-control bg-dark text-white" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon bg-sky text-white p-3">
            <i class="fa fa-envelope"></i>
          </span>
          <input type="email" class="form-control bg-dark text-white" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon bg-sky text-white p-3">
            <i class="fa fa-pencil"></i>
          </span>
          <textarea rows="5" class="form-control bg-dark text-white" placeholder="Message"></textarea>
        </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-outline-info btn-block btn-lg">
    </form>
  </div>
</div>
<app-footer></app-footer>