/* You can add global styles to this file, and also import other style files */
.bg-blue {
    background-color: #286da8;
    color: white;
  }
  .bg-red {
    background-color: #cd5360;
    color: white;
  }
  .bg-brown {
    background-color: #b37d4e;
    color: white;
  }
  .bg-sky {
    background-color: #438496;
    color: white;
  }
  