<app-header></app-header>

<!-- Work -->
<div id="work">
  <div class="card card-body bg-brown py-5">
    <h3>My Portfolio</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, adipisci?</p>
  </div>
  <div class="card card-body py-5">
    <h3>What have I built?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, eum.</p>
    <div class="row no-gutters">
      <div class="col-md-3">
        <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox">
          <img src="https://unsplash.it/600.jpg?image=251" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox">
          <img src="https://unsplash.it/600.jpg?image=252" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox">
          <img src="https://unsplash.it/600.jpg?image=253" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox">
          <img src="https://unsplash.it/600.jpg?image=254" alt="" class="img-fluid">
        </a>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-md-3">
        <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox">
          <img src="https://unsplash.it/600.jpg?image=255" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox">
          <img src="https://unsplash.it/600.jpg?image=256" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://unsplash.it/1200/768.jpg?image=257" data-toggle="lightbox">
          <img src="https://unsplash.it/600.jpg?image=257" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://unsplash.it/1200/768.jpg?image=258" data-toggle="lightbox">
          <img src="https://unsplash.it/600.jpg?image=258" alt="" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>