<!-- CONTACT -->
<div id="contact">
  <!-- LOGIN MODAL -->
  <div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="model-title">Login</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <label for="username">Password</label>
              <input type="text" placeholder="Password" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" [routerLink]="['/manage']" routerLinkActive="router-link-active" >login</button>
          <button class="btn btn-secondary" data-dismiss="modal">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>