<app-header></app-header>

<!-- Resume -->
<div id="resume">
  <div class="card card-body bg-red text-white py-5">
    <h2>My Resume</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adioisicing elit. Perferendis, quia.</p>
  </div>
  <div class="card card-body py-5">
    <h3>Where have I worked?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adioisicing elit. Perferendis, quia.</p>
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Devmasters</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adioisicing elit. Perferendis, quia.</p>
          <p class="p-2 mb-3 bg-dark text-white">
            Position: Full Stack Developer
          </p>
          <p class="p-2 mb-3 bg-dark text-white">
            Phone: (+66) 888-8888
          </p>
          <div class="card-footer">
            <h6 class="text-muted">Dates: 2015 - 2018</h6>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Websites Pro</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adioisicing elit. Perferendis, quia.</p>
          <p class="p-2 mb-3 bg-dark text-white">
            Position: Front End Developer
          </p>
          <p class="p-2 mb-3 bg-dark text-white">
            Phone: (+66) 888-8888
          </p>
          <div class="card-footer">
            <h6 class="text-muted">Dates: 2015 - 2018</h6>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">123 Designs</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adioisicing elit. Perferendis, quia.</p>
          <p class="p-2 mb-3 bg-dark text-white">
            Position: Designer
          </p>
          <p class="p-2 mb-3 bg-dark text-white">
            Phone: (+66) 888-8888
          </p>
          <div class="card-footer">
            <h6 class="text-muted">Dates: 2015 - 2018</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
