<app-header></app-header>

<!-- Home -->
<div id="home" class="collapse show">
  <div class="card card-body bg-blue bg-blue text-white py-5">
    <h2>Welcome to my page</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adioisicing elit. Perferendis, quia.</p>
  </div>
  <div class="card card-body py-5">
    <h3>My Skills</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adioisicing elit. Perferendis, quia.</p>
    <hr>
    <h4>HTML</h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 100%"></div>
    </div>
    <h4>CSS</h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 100%"></div>
    </div>
    <h4>JavaScript</h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 60%"></div>
    </div>
    <h4>C#</h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 100%"></div>
    </div>
    <h4>SQL</h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 100%"></div>
    </div>
    <h4>AngularJs</h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 70%"></div>
    </div>
    <h4>PHP</h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 50%"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>